/*TOP*/

body {
    font-family: 'VT323', monospace;
    font-size: 18px;
    background-color: #3D333D;
}

.container {
    margin-top: 5%;
}

#center_main{
    display: flex;
    margin-bottom: 2%;
    align-items: center;
    justify-content: center;

}

.column1, .column2{
    flex: 1;
}

#bot1, #bot2{
    margin-top: 10%;
}

#left, #right, #bot1, #bot2{
    width: 78%;
    margin-left: 11%;
}

#pic {
    background-color:  #33242b;
    border-bottom: solid 4px #261421;

    flex: 1;
}


img {
    width: 100%;
}

ul {
    list-style-type: none;
}

aside {
    text-align: center;
    padding: 1%;
    background-color:  #33242b;
    border-bottom: solid 4px #261421;
}
/*BOTTOM*/
.center, .ch{
    background-color:  #33242b;
    border-bottom: solid 4px #261421;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.ch{
    width: 50%;
    padding: 2%;
}

.center {
    margin-top: 5%;
    margin-bottom: 2%;
    padding-top: 0.1%;
}
