.container_center {
    width: 60%;
    margin: 0 auto;
    display: block;
}

.center, aside {
    background-color:  #33242b;
    border-top: solid 1px #b6879e;
    border-bottom: solid 4px #261421;
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: white;
}

.center {
    margin-top: 4%;
    padding: 1%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5%;
}

#text {
    padding: 2%;
}

.ch {
    text-align: center;
    padding: 2%;
    background-color:  #33242b;
    border-top: solid 1px #b6879e;
    border-bottom: solid 4px #261421;
    font-family: 'VT323', monospace;
    font-size: 18px;
    color: white;
}

#pic {
    background-color:  #33242b;
    border-top: solid 1px #b6879e;
    border-bottom: solid 4px #261421;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5%;
}

#left, #right {
    margin-top: 2%;
    width: 12%;
    color: white;
}
aside {
    text-align: center;
    padding: 1%;
}

#bot1, #bot2 {
    margin-top: 10%;
    width: 12%;
    color: white;
}

ul {
    list-style-type: none;
}

a::before {
    color: white;
}

#left {
    float: left;
    margin-left: 5%;
    display: inline;
}

#right {
    float: right;
    margin-right: 5%;
    display: inline;
}

#bot1 {
    float: left;
    margin-left: -14%;
}

#bot2 {
    float: right;
    margin-right: -14%;
}
